<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="name">Name</label>
        <input type="text" id="name">
        <label for="lastName">Last name</label>
        <input type="text" id="lastName">
        <label for="mail">email</label>
        <input type="email" id="mail">
        <label for="number">phone number</label>
        <input type="number" id="number">
        <label for="consult"></label>
        <textarea name="" id="consult" cols="30" rows="10"></textarea>
    </form>
</body>
</html>