.label-input{
    font-size: 1.5rem;
}
.box-input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
.input-g-style{
    border:none;
    border-bottom: 3px solid var(--withe-color);
    padding: 5px 0;
    font-size: 20px;
    color: var(--withe-color);
    background-color: transparent;
}
.input-g-style:focus{
    outline: none;
}
.input-s-style{
    height: auto;
    width:auto;
}
.input-s-styletxt{
    resize: none;
}
.label-input{
    font-size: 18px;
    padding-bottom: 10px;
    color: var(--withe-color);
}

.container-form-structure{
    display: flex;
    justify-content: center;
    width: 100%;
}
.form-structure{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    grid-template-areas: "name Lname"
                         "mail num"
                         "txt txt"
                         "send send";
}

.name{
    grid-area: name;
}
.Lname{
    grid-area: Lname;
}
.mail{
    grid-area: mail;
}
.num{
    grid-area: num;
}
.text{
    grid-area: txt;
}
.btn-send{
    grid-area: send;
    padding-top: 15px;
    height: fit-content;
}
.main-form{
    padding-top: 3rem;
}


@media (max-width: 900px){
    .label-input{
        font-size: 15px;
    }
    .box-input{
        padding: 5px 10px;
    }
    .input-g-style{
        border-bottom: 2px solid;
        padding: 3px 0;
        font-size: 1rem;
    }
    .main-form{
    height: 50vh;
    padding-top: 20px;
    }
}
@media (max-width: 580px){
    p{
        font-size: 15px;
    }
    .label-input{
        font-size: 15px;
    }
    .box-input{
        padding: 5px 10px;
    }
    .input-g-style{
        border-bottom: 2px solid;
        padding: 1px 0;
    }
    .main-form{
    width: 100%;
    height: fit-content;
    }
    .box-input{
        width: 100%;
    }
    .input-g-style{
        width: 100%;
        font-size: 20px;
    }
    .input-s-styletxt{
        width: 100%;
    }
    .container-form-structure{
        width: 100%;
    }
    .form-structure{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
