*{  
    margin: 0%;
}
html, body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Pathway Gothic One', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}
/*input-styles*/
.label-input{
    font-size: 1.5rem;
}
.box-input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
.input-g-style{
    border:none;
    border-bottom: 3px solid #fff;
    padding: 5px 0;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    max-width: 100%;
}
.input-g-style:focus{
    outline: none;
}
.input-s-style{
    height: auto;
    width:auto;
}
.input-s-styletxt{
    max-width: 100%;
    resize: none;
    overflow-y: scroll;
}
.label-input{
    font-size: 18px;
    padding-bottom: 10px;
}

.container-form-structure{
    display: flex;
    justify-content: center;
}
.form-structure{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    grid-template-areas: "name Lname"
                         "mail num"
                         "txt txt"
                         "send send";
}

.name{
    grid-area: name;
}
.Lname{
    grid-area: Lname;
}
.mail{
    grid-area: mail;
}
.num{
    grid-area: num;
}
.text{
    grid-area: txt;
}
.btn-send{
    grid-area: send;
    padding-top: 15px;
}
.main-form{
    padding-top: 3rem;
}
.btn-primary{
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    width: auto;
    border-radius: 20px;  
    border-style: solid;  
    background-color: #08070D;
    border-color: #41B3BF;
    
}
.btn-primary:hover{
    color: #08070D;
    background-color: #41B3BF;
    font-weight: 700;
}

@media (max-width: 900px){
    .label-input{
        font-size: 1rem;
    }
    .box-input{
        padding: 5px 10px;
    }
    .input-g-style{
        border-bottom: 2px solid;
        padding: 3px 0;
        font-size: 1rem;
    }
    .main-form{
    width: 500px;
    height: 50vh;
    padding-top: 20px;
    }
}
@media (max-width: 767px){
    .label-input{
        font-size: 0.9rem;
    }
    .box-input{
        padding: 5px 10px;
    }
    .input-g-style{
        border-bottom: 2px solid;
        padding: 3px 0;
        font-size: .9rem;
    }
    .main-form{
    max-width: 500px;
    height: 50vh;
    }
    .input-g-style{
        width: 80%;
    }
    .input-s-styletxt{
        width: 90%;
        resize: none;
        overflow-y: scroll;
    }
}
@media (max-width: 580px){
    .label-input{
        font-size: 0.9rem;
    }
    .box-input{
        padding: 5px 10px;
    }
    .input-g-style{
        border-bottom: 2px solid;
        padding: 1px 0;
        font-size: .7rem;
    }
    .main-form{
    width: 100%;
    height: fit-content;
    }
    .box-input{
        width: 100%;
    }
    .input-g-style{
        width: 100%;
    }
    .input-s-styletxt{
        width: 100%;
        resize: none;
        overflow-y: scroll;
    }
    .container-form-structure{
        width: 100%;
    }
    .form-structure{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
